.about-us-card {
  border: none;
  text-align: justify;
  box-shadow: rgb(77, 67, 67) 0px 3px 8px;
  /* background-color: #3f0d12; */
}

.about-us-intro {
  background: url("../../assets/addUser.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.team-individual-image {
  width: 22%;
  min-width: 200px;
  max-width: 400px;
  cursor: pointer;
}

.bg-our-team {
  background: url("../../assets/addUser.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.aboutUsCard {
  background: url("../../assets/aboutusbg.jpg");
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
  background-size: cover;
}
